<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<ComponentGroup Id="ProductComponents">

			<ComponentRef Id="MainAppSchortcut" />

		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\..\Logic-simulator\LogicSimulator\bin\x64\Release\net6.0-windows\publish\win-x64\">

			<Component Id="MainAppSchortcut" Guid="{EA61252F-92DA-4D48-837F-B6BE64225A63}">

				<Shortcut Id="MainAppSchortcut"
				          Name="!(loc.ProductName)"
				          Target="[INSTALLFOLDER]LogicSimulator.exe"
				          Directory="InstallProgramMenuFolder"
				          WorkingDirectory="INSTALLFOLDER"
				          Icon="Icon"/>

				<RegistryValue Id="RegShortcutKey" 
				               Root="HKCU" 
				               Key="SOFTWARE\!(loc.ProductName)" 
				               Name="Shortcut" 
				               Value="1" 
				               Type="integer" 
				               KeyPath="yes"/>

				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>

			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
