<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="LogicSimulator.Installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="e9fc8a06-251f-4b1f-aeed-f5490973eb47">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
