<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Нужно менять при выходе новой версии! -->
	<?define ProductCode = "{14624217-65ED-4E4C-9AB9-B4B0A4F5FE52}" ?>
	<?define UpgradeCode = "{996BFE61-BE7F-4DD0-AD1A-2D2FC730A937}" ?>

	<Product Id="$(var.ProductCode)"
	         Name="!(loc.ProductName)"
	         Language="!(loc.Language)"
	         Version="$(var.BuildVersion)"
	         Manufacturer="!(loc.Manufacturer)"
	         UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="200"
		         Compressed="yes"
		         InstallScope="perMachine"
		         Platform="x64"
		         Manufacturer="!(loc.Manufacturer)"
		         Description="!(loc.Description)"
		         Keywords="!(loc.Keywords)"
		         Comments="!(loc.Comments)"
		         Languages="!(loc.Language)"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

		<MediaTemplate EmbedCab="yes" />

		<Icon Id="Icon" SourceFile="$(var.LogicSimulator.ProjectDir)\Icons\icon512x512.ico"/>

		<Property Id="ARPPRODUCTICON">Icon</Property>
		<Property Id="ARPURLINFOABOUT">https://www.google.com</Property>

		<UIRef Id="WixUI_Minimal"/>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\License.rtf"/>

		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">

			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />

		</Feature>
	</Product>
</Wix>
