<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define ProductCode = "{62D376A3-D29B-469B-B441-8FA717C0D2F0}" ?>
	<?define UpgradeCode = "{996BFE61-BE7F-4DD0-AD1A-2D2FC730A937}" ?>
	<?define Version = "0.1.0" ?>

	<Product Id="$(var.ProductCode)"
	         Name="!(loc.ProductName)"
	         Language="!(loc.Language)"
	         Version="$(var.Version)"
	         Manufacturer="!(loc.Manufacturer)"
	         UpgradeCode="$(var.UpgradeCode)">

		<Package InstallerVersion="200"
		         Compressed="yes"
		         InstallScope="perMachine"
		         Platform="x64"
		         Manufacturer="!(loc.Manufacturer)"
		         Description="!(loc.Description)"
		         Keywords="!(loc.Keywords)"
		         Comments="!(loc.Comments)"
		         Languages="!(loc.Language)"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">

			<ComponentGroupRef Id="ProductComponents" />

		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="LogicSimulator.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
