<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp9B26EFBF455BE8CD91CFCDB7C78A7096" Guid="{7B8C1FFE-04F2-422A-9313-BE674CF6C7DD}">
                <File Id="filA9093B4ED2DD39E5D5D7AE70A41A77BB" KeyPath="yes" Source="$(var.BasePath)\app-settings.json" />
            </Component>
            <Component Id="cmp3A9BDCC7AEF3CD0104D978E9EDD9198D" Guid="{647C3CF4-680D-4F91-B4FE-F10F5A24AAD2}">
                <File Id="filEE135B4CE79D435CDB58227DE7D8F7FE" KeyPath="yes" Source="$(var.BasePath)\FontAwesome5.dll" />
            </Component>
            <Component Id="cmpF84FB044ABBC02C1B0D05D036A1E194F" Guid="{D0F5183B-AF93-46DA-91A9-25FDC3D832FA}">
                <File Id="fil74F92DC70DB2938CCC15F6FC251D357D" KeyPath="yes" Source="$(var.BasePath)\FontAwesome5.Net.dll" />
            </Component>
            <Component Id="cmpCB919D2EA8544852B32DE6F4409C572C" Guid="{B37A2CF5-F3B4-42AB-BC47-C1D6DA0DAF14}">
                <File Id="fil1340873F112E3B4A9F3D47CAB9AA3B15" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.AvalonDock.dll" />
            </Component>
            <Component Id="cmp002EADE50C5186BDF95C1DD65D2499EF" Guid="{BB38AFD4-B680-4313-9935-7DD1BB4420C9}">
                <File Id="filCEA0027C3E553FD53C4C2DF4137D34B4" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.AvalonDock.pdb" />
            </Component>
            <Component Id="cmpE755B1560725F3B2449515ADD24D6793" Guid="{8A050B0E-A821-4393-A068-7C5CED2C860B}">
                <File Id="filBEC6A5440B099CB7B1CBCF15FAF5FA0F" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Controls.dll" />
            </Component>
            <Component Id="cmp351675C4056D26988348AADF884F39CA" Guid="{7652AEA3-8977-4A90-A080-C0150B147715}">
                <File Id="fil412E71911C5DF92019B945522B9D6FB8" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Controls.pdb" />
            </Component>
            <Component Id="cmp281F270E46C133C3F3D45FCB47881385" Guid="{49767585-7F03-4F03-A1B9-FC96A1897000}">
                <File Id="filE229B0127E1165213A241EAD46E94CFF" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.deps.json" />
            </Component>
            <Component Id="cmp17C69538E639720D2105BB4ECDC0CE86" Guid="{6070E938-6621-4AE2-A5C9-58231848EAB0}">
                <File Id="filCDEEFC27516E4B38831E057A09A72FCF" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.dll" />
            </Component>
            <Component Id="cmp950B95F5E3EEED5B319ACB531D0FEB26" Guid="{F82CE5D0-89B6-44F7-B37B-763F5BDE3F00}">
                <File Id="filBED2E6C5BAF4D62146A463D271604519" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.exe" />
            </Component>
            <Component Id="cmp312EB2DB2BF1E168343CE370644070A4" Guid="{71EDF31F-B0A8-456A-915A-33205CA4BA2E}">
                <File Id="fil212FF7AAA7A5D8035D46A672054C2091" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.MathParser.dll" />
            </Component>
            <Component Id="cmp645E58F0C3772B2BE8A3660384AACF7A" Guid="{4B237A04-A0EB-47DB-8E1B-ED78E19FD5DF}">
                <File Id="fil59ABA6F85854A8960B2288D6B4B34C6E" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.MathParser.pdb" />
            </Component>
            <Component Id="cmpA2377478847582E50C2D5056113DA26C" Guid="{963F690A-6E18-413B-A484-3CFFE9B24F2E}">
                <File Id="fil999224C99CDDD5F016903A7254B23FCF" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.pdb" />
            </Component>
            <Component Id="cmpF6A79DEF3BCB842B9AE4A24C367D4822" Guid="{3BDA22D0-5E14-4A2F-A1BE-883F21872C06}">
                <File Id="filF15231C1DD4B72B149FCEE315853429C" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.runtimeconfig.json" />
            </Component>
            <Component Id="cmp44E7039A7BE36758B3124DAD23376C3D" Guid="{D15E3BE5-2B16-444F-9E83-9C76B15CF93C}">
                <File Id="fil6DC461684BA0E12DF23DAAE21ABA2A23" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Scene.dll" />
            </Component>
            <Component Id="cmp9DC09AC67FE381C9C8D0CA51BD0D792A" Guid="{42D4358B-DB23-41DE-A5A5-DC9B2227B2EB}">
                <File Id="fil283B51773C00B25EE59D8F80A144DFBC" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Scene.pdb" />
            </Component>
            <Component Id="cmp07AD6ADE916BF22148E4F8E7275C7384" Guid="{985B7CC7-9BF1-4947-A99A-F9761BBAA0C7}">
                <File Id="fil9B49A84DCC8166B0713DDD92477A3331" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Utils.dll" />
            </Component>
            <Component Id="cmpB5EDA9AD5CC8A44FCF3192026256CBAB" Guid="{DEDE2AD0-7509-4477-8580-592796514FB1}">
                <File Id="fil0B94B6479534EC7891FE067476CF8B4A" KeyPath="yes" Source="$(var.BasePath)\LogicSimulator.Utils.pdb" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{F5435C52-8569-436A-AC89-EAD6C182469E}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" Guid="{BA5639D5-EC4D-40B1-957C-01BA5EDD0DA1}">
                <File Id="fil52FC3D526CBD9DC330C6FE3380563F0C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" Guid="{60B82BF4-295E-45AD-8B32-BEB57CBDD270}">
                <File Id="filB3B34A4CDA6A327AC31CAD64389BC80C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{82B98E55-A275-4080-8566-FEDB058EC285}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp695DF09F0E9EE30558F8C6D16553F843" Guid="{4F705AD0-1192-43B1-B4A3-611A19D6E0A4}">
                <File Id="filEAA27D91AD78E3FCD8BA846C92752BAA" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{4A2B4C89-3BB3-48EB-A198-0ACABB285273}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{063C321B-60EE-4B99-93F5-A6D27440B4BC}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" Guid="{94C9EFAD-04E3-4125-99EC-149291EC82C9}">
                <File Id="fil867F166CDED00C699F6B217A4FC42957" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="{010B405D-CFB5-4592-93A2-659B2321ADA8}">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="{19E0628E-CD08-4B0B-B88D-91BCF25D1748}">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{04046DF0-2C96-4F0A-B062-D6501A3ACC55}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{902E5ADB-4352-48C4-9A36-2B838A1A18D3}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{9BE680E3-1A06-41B0-8CE7-3FA5F4A0CE60}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpB96239F931804879A085E057C6E72657" Guid="{F5581E63-C647-4AD4-B781-6BAE232B7A3E}">
                <File Id="filFE47041DFF0F714E6C7D801D2D2C140A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" Guid="{402AB5B5-C242-43D6-A7CA-A630996E839C}">
                <File Id="filD0586081609434942EDB53299EF52D71" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="{69DFA633-B041-4430-8261-2B5944DC00A1}">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp9B211F39744547E733F9040027FF1A3B" Guid="{537C0999-D152-48C7-ADBA-2D5E7B571445}">
                <File Id="filC6D4BDB43CC150D24C5E1BDE9EB552F7" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" Guid="{6A49B412-78E0-40F1-BC63-04C9E5EEAAFA}">
                <File Id="filA347F900C2828DE2F50C35BDA8F5CE44" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp591239506CAB75D331DE5D90D6713057" Guid="{7C022488-BEC1-492B-B4D4-02CC9B9BFABD}">
                <File Id="fil1CB90B4A15160F351B5EB5D2DED1B050" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp835034F744990576E31C2DBC7C9293BF" Guid="{21D70F4C-275E-4A82-A6A3-703817A67BB9}">
                <File Id="fil71DD299EE7649E964200A4127797D1C0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3D087D80699D13BCB013A8533A2C0DCF" Guid="{EA75BC89-25A4-4A9F-B546-DC2F258F8F1E}">
                <File Id="filA050696110EF79DCA5E76B6513E54FB2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp63493859708989EE0F11F5DF7347E61A" Guid="{64A02017-144E-42DD-AA5E-5649C194281B}">
                <File Id="filBF2F378F474FFE2ABA30A373F8BB00C0" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpF5D2F2D913749765205DC918BD981CD0" Guid="{86226AC5-738D-48FF-92A8-6DA199ED13AD}">
                <File Id="fil3F5CF8D11C3311A25D3082B99A709528" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="{07A1EA2A-E2A9-40E1-86B8-3D742B0483F5}">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{83AC5C36-9C1E-499D-AEF4-E973E3310812}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp3BA2EF954E1F8B125056303EB05EA4D7" Guid="{ED9DE504-3E88-401F-8F93-9A7F0D66B1C2}">
                <File Id="filCEA1B0E66E708A5771F752F815505259" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Wpf.Interop.DirectX.dll" />
            </Component>
            <Component Id="cmp59CE682C306B4641896B12150CBCBA35" Guid="{F6ED6074-5CFB-4AEB-A96A-4640BDA7AE43}">
                <File Id="fil319F9CD46D144B42832ADF12882B64E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Wpf.Interop.DirectX.pdb" />
            </Component>
            <Component Id="cmp8AC833CFB7DC6722697152FE46DA157A" Guid="{8D001B77-E998-4EAE-9A4C-2C75F18D8ACA}">
                <File Id="filD3CAD095889A5DE7EAAE25C73BC9910A" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="cmpF79562B8D935E93E73AB94C78A5F52AD" Guid="{100DFDC8-B977-4B9F-A6E3-670D3837B724}">
                <File Id="filD288EFBC69A5E275EAB4F50C7BB109A3" KeyPath="yes" Source="$(var.BasePath)\SharpDX.Direct2D1.dll" />
            </Component>
            <Component Id="cmp0320A630A0EB3081EE50B8E83E5E78CB" Guid="{03802592-744D-433D-A3A9-26F6AA6E2151}">
                <File Id="filA5881046D6EA465DB34B8DBABB43FE3D" KeyPath="yes" Source="$(var.BasePath)\SharpDX.Direct3D11.dll" />
            </Component>
            <Component Id="cmp5628FD27631E522C3D67C498667BC8A5" Guid="{6E960673-D73B-4526-8DCA-6C8E4366E4B6}">
                <File Id="fil9AF927B04C176B9DDB9785FEBFB421F9" KeyPath="yes" Source="$(var.BasePath)\SharpDX.Direct3D9.dll" />
            </Component>
            <Component Id="cmp9607F152871CB9C2659ED14722E13E44" Guid="{9AA3E0A4-08F3-450D-A522-9A78E8423B8C}">
                <File Id="filF5517F7734A13514A2CDF5F069816EE5" KeyPath="yes" Source="$(var.BasePath)\SharpDX.dll" />
            </Component>
            <Component Id="cmpC12E0E231E2E8E7FE864B56E6323063E" Guid="{F8A16A8A-AA2E-4CFE-BFE1-850671EE563F}">
                <File Id="filEA19CC1C8ED8FB958DF7853CFD91383F" KeyPath="yes" Source="$(var.BasePath)\SharpDX.DXGI.dll" />
            </Component>
            <Component Id="cmp413E3055139D32C390E1E38470BDF8EE" Guid="{3D7E0954-8103-4106-B982-30AAC12F25CC}">
                <File Id="fil05B16AA81B26C3F3168B4307DD3F0F3E" KeyPath="yes" Source="$(var.BasePath)\SharpDX.Mathematics.dll" />
            </Component>
            <Component Id="cmpB9F3CB2FB0B2EEB6AA4160DE09C0BF47" Guid="{3C5A7412-BEB5-4970-916F-C2BBD03A430B}">
                <File Id="fil4CD799284D4562217ABBA47D039C8F9D" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.EventLog.Messages.dll" />
            </Component>
            <Component Id="cmp7C9089EB3A0835BEAD5FA24D2816F5B5" Guid="{41FCA93B-1161-4343-9EF7-2FAB7327D895}">
                <File Id="filEDBD0836B44209DF49014707456796C0" KeyPath="yes" Source="$(var.BasePath)\YamlDotNet.dll" />
            </Component>
            <Directory Id="dir8A66300A65ECF7B42463C2AE888E810F" Name="Data">
                <Component Id="cmp837D5283387A0149075022CACD8727F2" Guid="{6FD27058-7658-4791-BC3A-F5D1E02ED67E}">
                    <File Id="fil26B8974737A8ADCBEBF33416CE05764F" KeyPath="yes" Source="$(var.BasePath)\Data\Example.lss" />
                </Component>
            </Directory>
            <Directory Id="dirE9205C68F964857267FD3312DBFF9A91" Name="ru">
                <Component Id="cmp2E17A3C4FD72F1137736F9241B55E20B" Guid="{2DDBF5F0-649F-4A3D-96F0-CAE8FF8C7C3B}">
                    <File Id="fil68DA5D9C7B7D4A7513F7D943A6748D26" KeyPath="yes" Source="$(var.BasePath)\ru\LogicSimulator.AvalonDock.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp9B26EFBF455BE8CD91CFCDB7C78A7096" />
            <ComponentRef Id="cmp3A9BDCC7AEF3CD0104D978E9EDD9198D" />
            <ComponentRef Id="cmpF84FB044ABBC02C1B0D05D036A1E194F" />
            <ComponentRef Id="cmpCB919D2EA8544852B32DE6F4409C572C" />
            <ComponentRef Id="cmp002EADE50C5186BDF95C1DD65D2499EF" />
            <ComponentRef Id="cmpE755B1560725F3B2449515ADD24D6793" />
            <ComponentRef Id="cmp351675C4056D26988348AADF884F39CA" />
            <ComponentRef Id="cmp281F270E46C133C3F3D45FCB47881385" />
            <ComponentRef Id="cmp17C69538E639720D2105BB4ECDC0CE86" />
            <ComponentRef Id="cmp950B95F5E3EEED5B319ACB531D0FEB26" />
            <ComponentRef Id="cmp312EB2DB2BF1E168343CE370644070A4" />
            <ComponentRef Id="cmp645E58F0C3772B2BE8A3660384AACF7A" />
            <ComponentRef Id="cmpA2377478847582E50C2D5056113DA26C" />
            <ComponentRef Id="cmpF6A79DEF3BCB842B9AE4A24C367D4822" />
            <ComponentRef Id="cmp44E7039A7BE36758B3124DAD23376C3D" />
            <ComponentRef Id="cmp9DC09AC67FE381C9C8D0CA51BD0D792A" />
            <ComponentRef Id="cmp07AD6ADE916BF22148E4F8E7275C7384" />
            <ComponentRef Id="cmpB5EDA9AD5CC8A44FCF3192026256CBAB" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" />
            <ComponentRef Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp695DF09F0E9EE30558F8C6D16553F843" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmpB96239F931804879A085E057C6E72657" />
            <ComponentRef Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp9B211F39744547E733F9040027FF1A3B" />
            <ComponentRef Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" />
            <ComponentRef Id="cmp591239506CAB75D331DE5D90D6713057" />
            <ComponentRef Id="cmp835034F744990576E31C2DBC7C9293BF" />
            <ComponentRef Id="cmp3D087D80699D13BCB013A8533A2C0DCF" />
            <ComponentRef Id="cmp63493859708989EE0F11F5DF7347E61A" />
            <ComponentRef Id="cmpF5D2F2D913749765205DC918BD981CD0" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp3BA2EF954E1F8B125056303EB05EA4D7" />
            <ComponentRef Id="cmp59CE682C306B4641896B12150CBCBA35" />
            <ComponentRef Id="cmp8AC833CFB7DC6722697152FE46DA157A" />
            <ComponentRef Id="cmpF79562B8D935E93E73AB94C78A5F52AD" />
            <ComponentRef Id="cmp0320A630A0EB3081EE50B8E83E5E78CB" />
            <ComponentRef Id="cmp5628FD27631E522C3D67C498667BC8A5" />
            <ComponentRef Id="cmp9607F152871CB9C2659ED14722E13E44" />
            <ComponentRef Id="cmpC12E0E231E2E8E7FE864B56E6323063E" />
            <ComponentRef Id="cmp413E3055139D32C390E1E38470BDF8EE" />
            <ComponentRef Id="cmpB9F3CB2FB0B2EEB6AA4160DE09C0BF47" />
            <ComponentRef Id="cmp7C9089EB3A0835BEAD5FA24D2816F5B5" />
            <ComponentRef Id="cmp837D5283387A0149075022CACD8727F2" />
            <ComponentRef Id="cmp2E17A3C4FD72F1137736F9241B55E20B" />
        </ComponentGroup>
    </Fragment>
</Wix>