<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="LogicSimulator" Language="1033" Version="0.1.0" Manufacturer="Vadim" UpgradeCode="c37f6194-3b2b-4ce2-9482-ebb6457d9d25">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Feature Id="ProductFeature" Title="LogicSimulator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ShortcutMenu" />
			<ComponentRef Id="ShortcutDesktop" />
		</Feature>

		<Media Id="1"
		       Cabinet="media.cab"
		       EmbedCab="yes" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
		<UIRef Id="WixUI_InstallDir"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="LogicSimulator" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Directory Id="ProgramMenuFolder" Name="MenuFolder">
					<Directory Id="ApplicationsProgramsFolder" Name="LogicSimulator" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentGroupRef Id="PublishedComponents"/>
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<Component Id="ShortcutMenu" Guid="{171205C4-94FF-4DC0-AC05-FF8C3093AC36}" Directory="ApplicationsProgramsFolder">
			<Shortcut Id="StartMenu" Name="LogicSimulator" Description="LogicSimulator description" Target="[INSTALLFOLDER]\LogicSimulator.exe"/>
			<RemoveFolder Id="RemoveShortcut" On="uninstall"/>
			<Registry Root="HKCU" Key="SoftWare\LogicSimulator" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
		</Component>
	</Fragment>

	<Fragment>
		<Component Id="ShortcutDesktop" Guid="{9F10D62D-12B3-4758-8030-3EA798E50C01}" Directory="DesktopFolder">
			<Shortcut Id="ShortcutDesktop" Name="LogicSimulator" Description="LogicSimulator description" Target="[INSTALLFOLDER]\LogicSimulator.exe"/>
			<RemoveFolder Id="RemoveDesktopFolder" On="uninstall"/>
			<Registry Root="HKCU" Key="SoftWare\LogicSimulator" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
		</Component>
	</Fragment>
</Wix>
