<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="LogicSimulator" Language="1033" Version="0.1.0" Manufacturer="Vadim" UpgradeCode="c37f6194-3b2b-4ce2-9482-ebb6457d9d25">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Feature Id="ProductFeature" Title="LogicSimulator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<Media Id="1"
		       Cabinet="media.cab"
		       EmbedCab="yes" />

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
		<UIRef Id="WixUI_InstallDir"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="LogicSimulatorSetup" />
			</Directory>
		</Directory>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentGroupRef Id="PublishedComponents"/>
		</ComponentGroup>
	</Fragment>
</Wix>
